body {
    background-image: url(./assets/background-image.jpeg);
    background-size: cover;
  }
  
  .entire-content {
    height: 100vh;
    width: 100vw;
    color: white;
  }
  
 .head{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input label {
    color: white;
    font-size: 35px;
  }
  
  .input input {
    font-size: 18px;
    width: 50%;
    margin: 6px 0;
    padding: 6px 12px;
  }
  
  .btnCont {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form .btn {
    background-color: #0dcaf0;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .form .btn + .btn {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  #bG{
    height: 40vh;
    width:30vw;
    margin: 0 auto;
    flex-direction: column;
    background-color: whitesmoke;
    color:black;
    border-radius: 10px;
  }
  
  .modalHead {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    padding-Top: 20px;
  }
  
  .close {
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding-right:20px;
    padding-top:20px;
  }

  .para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;  
  }
 

  